h2 {
    color: red;
}

.box {
    display: flex;
    flex-direction: row-reverse;
  }

.menu ul {
    display: flex;
}

.menu ul li {
    list-style-type: none;
    padding-right: 14px;
}

.bold {
    font-weight: bolder;
}

.box1 {
    background-color: aqua;
    margin: 8px;
    padding: 5px;
}

.box2 {
    background-color: greenyellow;
    margin: 8px;
    padding: 5px;
}

.box3 {
    background-color: blueviolet;
    margin: 8px;
    padding: 5px;
}

span {
    font-weight: bolder;
}





