h1 {
    color: red;
}

.box {
    display: flex;
    flex-direction: row-reverse;
  }

.menu ul {
    display: flex;
}

.menu ul li {
    list-style-type: none;
    padding-right: 14px;
}

.bold {
    font-weight: bolder;
}



